body {
  background-color: orange;
 
}

h1{
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetiva, Sans-serif;
}

.header{
  background-color: black;
    padding-left: 10px;
  border: 1px solid black;
  
  
}

.footer{ black;
  color: white;
  border: 1px solid black;
  padding-left: 10px
)
